header {
    background-color:red;
    height:40px;
    width:1214px;
    margin-left:2px;
}
footer {
    background-color:blue;
    height:40px;
    width:1214px;
    margin-left:2px;
}
#cel1 {
    background-color:#6633FF;
}
#cel2 {
    background-color:#FF3366;
}
#cel3 {
    background-color:#99CCFF;
}
#cel4 {
    background-color:#66CCFF;
}
#cel5 {
    background-color:#FFFF66;
}
#cel6 {
    background-color:#6699FF;
}
#cel7 {
    background-color:#3399FF;
}
#cel8 {
    background-color:#336600;
}
#cel9 {
    background-color:#33CC00;
}
#cel10 {
    background-color:#33FFFF;
}
#cel11 {
    background-color:#006600;
}
#cel12 {
    background-color:#0066FF;
}
#cel13 {
    background-color:#333366;
}
#cel14 {
    background-color:#663300;
}
#cel15 {
    background-color:#3366FF;
}
#cel16 {
    background-color:#0000FF;
}